<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Drink Factory</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Drink Factory</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/api/profile">Profile</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Edit Profile</h1>
                <p class="lead text-muted">Get ready a URL to your profile pic. This DB ain't gonna store pictures.</p>
            </div>
        </div>
    </section>

    <div class="container-lg">
        <form class="row g-3" method="post" action="/api/editprofile">
            <div class="col-12">
                <label for="name" class="form-label">Name</label>
                <input type="hidden" name="name" data-th-value="${profileDetails.name}">
                <input type="text" class="form-control" id="name" data-th-value="${profileDetails.name}" readonly
                    disabled>
            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="hidden" name="oldEmail" data-th-value="${profileDetails.email}">
                <input type="email" class="form-control" id="email" name="email" data-th-value="${profileDetails.email}"
                    readonly disabled>
            </div>
            <div class="col-12">
                <label for="country" class="form-label">Country of Residence <span
                        class="text-muted">(Optional)</span></label>
                <input type="hidden" name="oldCountry" data-th-value="${profileDetails.country}">
                <select type="text" class="form-select" id="country" name="country">
                    <option data-th-value="${profileDetails.country}" data-th-text="${profileDetails.country}" selected>
                    </option>
                    <option data-th-each="country: ${listOfCountries}" data-th-value="${country}"
                        data-th-text="${country}">
                    </option>
                </select>
            </div>
            <div class="col-12">
                <label for="profilePicUrl" class="form-label">Profile Picture URL <span
                        class="text-muted">(Optional)</span></label>
                <input type="hidden" name="oldProfilePicUrl" data-th-value="${profileDetails.profilePic}">
                <input type="text" class="form-control" id="profilePicUrl" name="profilePicUrl"
                    data-th-value="${profileDetails.profilePic}">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>

    <!-- JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</body>

</html>